<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>File Sharing App</title>
    <link rel="stylesheet" href="../public/css/style.css" />
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-12 col-lg-6"></div>
        <div class="col-12 col-lg-6">
          <div class="drop-zone">
            <div class="icons"></div>
            <div class="text">
              Drag the files to upload or <span>browse</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
  <script src="../public/css/style.css"></script>
</html>
